

<div class= "photo">
 <%= image_tag 'dance.jpeg', class: "image", width: "100%" %>

  <div class= "logo">
  <%= image_tag 'Dancespot.png', class: "image", width: "300px" %>
  <p>ダンスイベント情報サイト</p>
  </div>
</div>