@import "bootstrap";
@import "module/header";
@import "module/home";

a.widelink{
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.form-horizontal{
  text-align: center;
}
.form-group{
  margin :0 auto;
}
.col-sm-1{

}